/AddCommand.class
/Command.class
/CommandGenerator.class
/ExitCommand.class
/HelpCommand.class
/ResetCommand.class
/UpdateCommand.class
/SuperCoinsCommand.class
/GarlicPushCommand.class
/AddVampireCommand.class
/LightFlashCommand.class
/AddBloodBank.class
/AddBloodBankCommand.class
/Serialize.class
/SerializeCommand.class
/SafeCommand.class
/SaveCommand.class
